html {
  font-family: sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  height: 49px;
  background-color: #EEE;
  border-bottom: 1px solid #CCC;
  display: block;
}

nav .logo {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  border-right: 1px solid #CCC;
  box-sizing: border-box;
  top: 0;
  left: 0;
  vertical-align: top;
  background-color: #555;
}

nav .logo img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


nav button {
  display: inline-block;
  width: 12em;
  -moz-appearance: none;
  background: #EEE;
  border: none;
  border-right: 1px solid #CCC;
  top: 0;
  padding: 0;
  margin: 0;
  color: #555;
  transition: color 0.25s, background 0.25s;
  cursor: pointer;
  height: 48px;
}

nav button.checked {
  background-color: #00be00;
  color: white;
}

nav button:hover {
  background-color: #555;
  color: #EEE;
}

nav button.checked:hover {
  background-color: #005f00;
  color: #EEE;
}

nav button.imagebtn {
  width: 48px;
  padding: 8px;
}

nav button svg {
  width: 100%;
  height: 100%;
  fill: #555;
  transition: fill 0.25s;
}

nav button:hover svg {
  fill: #EEE;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav button.loading svg {
  animation: rotating 2s linear infinite;
}

section {
  position: fixed;
  top: 49px;
  left: 0;
  width: 100%;
  height: calc(100% - 49px);
  overflow-y: scroll;
  padding: 1em;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0%;
  transition: opacity 0.25s, visibility 0.25s;
}

section.enabled {
  visibility: visible;
  opacity: 100%;
}

section table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
}

section table tr {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}


section table tr:hover {
  background-color: #00000040;
}

/* hide border of top-most row */
section table tr:nth-child(1) {
  border-top: none;
}

section table tr th {
  text-align: left;
}

nav button.rightalign {
  float: right;
  border-left: 1px solid #CCC;
  border-right: none;
}

#services-pane table tr td a.link {
  width: 1em;
  height: 1em;
  display: inline-block;
  text-decoration: none;
  background-size: 1em;
  background-repeat: none;
} 

#services-pane table tr td a.link.edit {
  background-image: url(img/edit.svg);
} 

#services-pane table tr td a.link.wiki {
  background-image: url(img/wiki.svg);
}

section table tr td span.ip {
  background-color: yellow;
  border-radius: 1.0em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  font-family: monospace;
}

section table tr td span.ip.online {
  background-color: green;
  color: white;
}

#dhcp-pane table tr td a.mac {
  font-family: monospace;
}

section table tr td span.ip.offline {
  background-color: darkred;
  color: white;
}


#shackles-pane table tr td span.status {
  background-color: yellow;
  border-radius: 1.0em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  text-align: center;
  width: 4em;
}

#shackles-pane table tr td span.status.online {
  background-color: green;
  color: white;
}

#shackles-pane table tr td span.status.offline {
  background-color: red;
  color: white;
}

#infra-pane {
  padding: 0;
  margin: 0;
}

#infra-pane iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
}