
# Points to a bind configuration file
dns-db = examples/db.debug

# Points to a shackles configuration file
# See `shackles.db` in repo
shackles-db = examples/shackles.db

# Points to a ICS DHCP leases file
leases-db = examples/fake-leases.db

# Points to a JSON file describing the whole
# shack infrastructure
infra-db = examples/godconfig.json

# Wrap this binding with https proxy or similar
binding = http://localhost:8080/

# Remove this for deployment!
binding = http://*:8080/

# mqtt-broker-host = mqtt.shack
# mqtt-broker-port = 1883
# mqtt-device-name = shackDNS
# mqtt-prefix      = shackdns