
# Points to a bind configuration file
dns-db = ../dns/bind/pri/db.shack

# Points to a shackles configuration file
# See `shackles.db` in repo
shackles-db = shackles.db

# Points to a REST service with the DHCP leases
leases-api = http://dhcp.shack/dhcpd.leases

# Wrap this binding with https proxy or similar
binding = http://localhost:8080/

# Remove this for deployment!
binding = http://*:8080/
